body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: rgb(169, 135, 25);
    box-shadow: 0 0 10px gray;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: rgb(21, 220, 51);
    color: white;
    border: none;
}